---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: line_items[0][price]=price_1On5K4JsbKv4DPOMbytvJUjw&line_items[0][quantity]=1&mode=payment&success_url=http%3A%2F%2Flocalhost%3A3000%2Fsuccess%3Ft%3De00c70e8-4669-4663-abe3-c42ec112a6ed&cancel_url=http%3A%2F%2Flocalhost%3A3000%2Fcancel%3Ft%3De00c70e8-4669-4663-abe3-c42ec112a6ed
    headers:
      Authorization:
      - Bearer <STRIPE_API_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2023-10-16'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 05f6c63b-a125-49cb-845a-a933809fe187
      Original-Request:
      - req_sH7dhbFdSzy7M8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2023-10-16'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a1q4FfXheTMfhhj0NzN0XxI9hcUOwGSQmcr2yfGGtlrlKuml0H90Fg44W2",
          "object": "checkout.session",
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 5499,
          "amount_total": 5499,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://localhost:3000/cancel?t=e00c70e8-4669-4663-abe3-c42ec112a6ed",
          "client_reference_id": null,
          "client_secret": null,
          "consent": null,
          "consent_collection": null,
          "created": 1708864558,
          "currency": "gbp",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": null,
          "customer_creation": "if_required",
          "customer_details": null,
          "customer_email": null,
          "expires_at": 1708950958,
          "invoice": null,
          "invoice_creation": {
            "enabled": false,
            "invoice_data": {
              "account_tax_ids": null,
              "custom_fields": null,
              "description": null,
              "footer": null,
              "issuer": null,
              "metadata": {},
              "rendering_options": null
            }
          },
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "payment",
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "if_required",
          "payment_method_configuration_details": null,
          "payment_method_options": {},
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_details": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": null,
          "subscription": null,
          "success_url": "http://localhost:3000/success?t=e00c70e8-4669-4663-abe3-c42ec112a6ed",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted",
          "url": "https://checkout.stripe.com/c/pay/cs_test_a1q4FfXheTMfhhj0NzN0XxI9hcUOwGSQmcr2yfGGtlrlKuml0H90Fg44W2#fidqdXFsaGx2cWxmUmRpaWBxV2BrYWB3Jz9xd3BgKSdkdWxOYHwnPyd1blpxYHZxWjA0SmFzUENPdmdOczFBVUpIdV9ybUBTU0lJcjVJajZRaTdDY1xTYzdMQjU2Z3BuQmBvTkdzUUl%2FYTJHdjFGV2psYm9qcGJyf2xGVH9tSDB0fTZwNVx2STxSNTVVfzdOdU5%2FUCcpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl"
        }
  recorded_at: Sun, 25 Feb 2024 12:35:58 GMT
recorded_with: VCR 6.2.0
